
<!-- <!DOCTYPE html>
<html >
<head>
<meta charset="UTF-8"> -->
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!-- <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta property="og:title" content="">
<meta property="og:description" content="">
<meta name="description" content="">
<meta name="keyword" content="">
<meta name="author" content=""> -->

<title>Welcome to Ohmytennis</title>


<!-- <link rel="icon" href="../../viewsimages/favicon.ico" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="../../views/css/bootstrap.min.css">
<link rel="stylesheet" href="../../views/css/style.css" type="text/css" />
<script src="../../views/js/bootstrap.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
<link rel="stylesheet" href="../../views/css/font-awesome.min.css" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" /> -->
</head>
<body class="innsec">
        <!-- <img src="../../views/images/fav_logo.png" > -->
<!-- Header area starts -->
 <header>
 <!-- Header Top area starts -->
  <!-- <div class="header_top">
  	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 social_icons">
				<ul><li><a class="twitter" href="javascript:void();"><i class="fa fa-twitter"></i></a></li><li><a class="linked" href="javascript:void();"><i class="fa fa-linkedin"></i></a></li><li><a class="facebook" href="javascript:void();"><i class="fa fa-facebook-f"></i></a></li><li><a class="insta" href="javascript:void();"><i class="fa fa-instagram"></i></a></li></ul>
			</div>
			<div class="col-sm-9 top_menu">
                <ul>
					<li ng-click="goToAdminPanel()">
						<a>
							<img src="../../views/images/register_icon.png">&nbsp;
							<span>Admin Panel</span>
						</a>
					<li>
                    <li>
                        <a data-toggle="modal" data-target="#coachModal" href="javascript:void();">
                            <img src="../../views/images/coach_icon.png">&nbsp;
                            <span>DEVENIR COACH</span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="modal" data-target="#LoginModal" href="javascript:void();">
                            <img src="../../views/images/login_icon.png">&nbsp;
                            <span>CONNEXION</span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="modal" data-target="#UserModal" href="javascript:void();">
                            <img src="../../views/images/register_icon.png">&nbsp;
                            <span>INSCRIVEZ-VOUS</span>
                        </a>
                    </li>
                    <li class="search_div"><input class="search_btn" placeholder="Recherche" type="text"><a href="#"><i
                                class="fa fa-search"></i>
                        </a>
                    </li>
                </ul>
			</div>
		</div>
	</div>
  </div> -->
  <!-- <div id="navbar" ng-controller="HeaderCtrl"><div ng-include src="'./src/homepage/header.html'"></div>
</div> -->
 <!-- Header Top area ends -->
 </header>

 <!-- Menuarea starts -->
  <!-- <div class="menuarea">
  	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 col-lg-4 logo">
				<a class="sidebar-icon" href="javascript:void();"><img alt="" src="../../views/images/sidebar_menu.png"></a>
				<a href="#" class="logo_icon"><img alt="" src="../../views/images/logo.png"></a>
			</div>
			<div class="col-md-9 col-lg-8 right_menu">
				<nav class="navbar navbar-inverse">
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>
					</div>
					<div class="collapse navbar-collapse" id="myNavbar">
					  <ul class="nav navbar-nav">
						<li class="active"><a href="#">Oh My Concept</a></li>
						s<li class="dropdown">
						  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
						  <ul class="dropdown-menu">
							<li><a href="#">Page 1-1</a></li>
							<li><a href="#">Page 1-2</a></li>
							<li><a href="#">Page 1-3</a></li>
						  </ul>
						</li>-->
						<!-- <li><a href="#">Oh My Conseils</a></li>
						<li><a href="#">Oh My Coachs</a></li>
						<li><a href="#">Oh My Event</a></li>
						<li><a href="#">Oh My Club House</a></li>
						<li><a href="#">Oh My Tennis</a></li>
						<li class="nav-item-img"><a class="nav-link" href="javascript:void();"><img alt="" src="../../views/images/Logo1.png"></a></li>
					  </ul>
					</div>
				</nav>
			</div>
	</div>
  </div>

  </div> --> 
 <!-- Menuarea starts -->

 <!-- Banner starts -->
   <div class="banner">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
	  <div class="carousel-inner">
		<div class="item active">
		  <img src="../../views/images/banner.png" alt="Los Angeles">
		</div>

		<div class="item">
		  <img src="../../views/images/banner.png" alt="Chicago">
		</div>

		<div class="item">
		  <img src="../../views/images/banner.png" alt="New York">
		</div>
	  </div>
	  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
		<img src="../../views/images/left_arrow.png">
	  </a>
	  <a class="right carousel-control" href="#myCarousel" data-slide="next">
		<img src="../../views/images/right_arrow.png">
	  </a>
	</div>
	<div class="search_area">
		<div class="banner_container">
			<h3>Réservez un cours avec un coach</h3>
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-lg-4">
					<div class="form-group">
						<div class="addon-lg">
							<input class="form-control" id="" ng-model="SearchObj.ville"placeholder="Ville" type="text">
							<label><img src="../../views/images/ville_icon.png"></label>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-lg-4">
					<div class="form-group">
						<div class="addon-lg">
							<input class="form-control" ng-model="SearchObj.dateofsearch" id="" placeholder="Date" type="text">
							<label><img src="../../views/images/date_icon.png">
							</label>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-lg-4">
					<button  ng-click="searchcoach()" class="btn black_btn">RECHERCHER</button>
				</div>
			</div>
		</div>
	</div>
	</div> 

 <!-- Banner starts -->


 <!-- about sec -->
 <div class="about_sec">
 <div class="container">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<img src="../../views/images/gallery_3.png" class="img-responsive abt_img">
		<div class="form_bg">
			<h1 class="des_about_heading">Oh My Concept</h1><br/>
			<p class="des_about_para">Présentation de notre plateforme communautaire de mise en relation entre les passionnés du tennis et les professionnels. Notre objectif est de proposer des sevices de qualité sélectionnés pour vous afin de garantir votre satisfaction.  </p>
			<center><a href="#" class="btn btn-primary des_abt_btn">decouvrir</a></center>
		</div>
	</div>

	<div class="col-md-6 col-sm-6 col-xs-12">

	</div>
 </div>
 </div>












<div class="my_coach">
<div class="container">
		<h1 class="coach_heading">Oh My Coachs</h1><br/>
  <center><ul id="myTabs" class="nav nav-pills " role="tablist" data-tabs="tabs">
    <li class="active"><a href="#Commentary" data-toggle="tab">Tous Les Coachs</a></li>
    <li><a href="#Videos" data-toggle="tab">Reserver un cours</a></li>
  </ul></center>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="Commentary">
	 <div class="col-lg-11" style="position: relative; top: 30px;">
				</div>
				<!-- <div class="col-lg-1" style="padding: 0px;">
					<div class="controls pull-right hidden-xs">
						<a class="left fa fa-chevron-left btn btn-default team_control" href="#carousel-example" data-slide="prev"></a><a class="right fa fa-chevron-right btn btn-default team_control" href="#carousel-example" data-slide="next"></a>
					</div>
				</div> -->
				<br>
		<div id="myCarousel0" class="carousel slide" data-ride="carousel" data-interval="0">
			<!-- Carousel indicators -->
		<!-- 	<ol class="carousel-indicators">
				<li data-target="#myCarousel0" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel0" data-slide-to="1"></li>
			</ol>    -->
			<!-- Wrapper for carousel items -->
			<div class="carousel-inner">
				<div class="item carousel-item active">
					<div class="row">
						<div class="col-sm-3" ng-repeat="coach in coachlist">
							<div class="thumb-wrapper" ng-click="gotocoachdetails(coach.Coach_ID)">
								<div class="img-box">
									<img ng-if="coach.Coach_Image" ng-src="../../upload/{{coach.Coach_Image}}" class="img-responsive img-fluid" alt="">
									<img ng-if="coach.Coach_Image == null" src="../../views/images/image4.jpg" class="img-responsive img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>{{coach.Coach_Fname}}</h4>

									<div class="star-rating">
										<ul class="list-inline">
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
										</ul>
									</div>
									<p>{{coach.Coach_Description}}</p>
								</div>
							</div>
						</div>
						<!-- <div class="col-sm-3">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="../../views/images/image2.jpg" class="img-responsive img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Jenna Rogers</h4>
									<div class="star-rating">
										<ul class="list-inline">
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
										</ul>
									</div>
									<p>The object of the game is to play the ball in such...</p>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="../../views/images/image5.jpg" class="img-responsive img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Kelly Clark</h4>
									<div class="star-rating">
										<ul class="list-inline">
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
										</ul>
									</div>
									<p>The object of the game is to play the ball in such...</p>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="../../views/images/image4.jpg" class="img-responsive img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Brandon Stone</h4>
									<div class="star-rating">
										<ul class="list-inline">
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
										</ul>
									</div>
									<p>The object of the game is to play the ball in such...</p>
								</div>
							</div>
						</div> -->
					</div>
				</div>
				<div class="item carousel-item">
					<div class="row">
						<div class="col-sm-3">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="../../views/images/image3.jpg" class="img-responsive img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Aaron Jones3</h4>

									<div class="star-rating">
										<ul class="list-inline">
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
										</ul>
									</div>
									<p>The object of the game is to play the ball in such...</p>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="../../views/images/image2.jpg" class="img-responsive img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Jenna Rogers</h4>
									<div class="star-rating">
										<ul class="list-inline">
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
										</ul>
									</div>
									<p>The object of the game is to play the ball in such...</p>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="../../views/images/image5.jpg" class="img-responsive img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Kelly Clark</h4>
									<div class="star-rating">
										<ul class="list-inline">
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
										</ul>
									</div>
									<p>The object of the game is to play the ball in such...</p>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="../../views/images/image4.jpg" class="img-responsive img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Brandon Stone</h4>
									<div class="star-rating">
										<ul class="list-inline">
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
										</ul>
									</div>
									<p>The object of the game is to play the ball in such...</p>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<!-- Carousel controls -->
			<a class="carousel-control left carousel-control-prev" href="#myCarousel0" data-slide="prev">
				<img src="../../views/images/LT.png">
			</a>
			<a class="carousel-control right carousel-control-next" href="#myCarousel0" data-slide="next">
				<img src="../../views/images/RT.png">
			</a>
		</div>
	</div>

	<div role="tabpanel" class="tab-pane fade" id="Videos">
			    <div class="col-lg-11" style="position: relative; top: 30px;">
				</div>
				<!-- <div class="col-lg-1" style="padding: 0px;">
					<div class="controls pull-right hidden-xs">
						<a class="left fa fa-chevron-left btn btn-default" href="#carousel-example2" data-slide="prev"></a><a class="right fa fa-chevron-right btn btn-default" href="#carousel-example2" data-slide="next"></a>
					</div>
				</div> -->
				<br>

			<div id="myCarousel01" class="carousel slide" data-ride="carousel" data-interval="0">
			<!-- Carousel indicators -->
		<!-- 	<ol class="carousel-indicators">
				<li data-target="#myCarousel0" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel0" data-slide-to="1"></li>
			</ol>    -->
			<!-- Wrapper for carousel items -->
			<div class="carousel-inner">
				<div class="item carousel-item active">
					<div class="row">
						<div class="col-sm-3">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="../../views/images/image3.jpg" class="img-responsive img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Aaron Jones4</h4>

									<div class="star-rating">
										<ul class="list-inline">
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
										</ul>
									</div>
									<p>The object of the game is to play the ball in such...</p>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="../../views/images/image2.jpg" class="img-responsive img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Jenna1 Rogers</h4>
									<div class="star-rating">
										<ul class="list-inline">
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
										</ul>
									</div>
									<p>The object of the game is to play the ball in such...</p>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="../../views/images/image5.jpg" class="img-responsive img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Kelly Clark</h4>
									<div class="star-rating">
										<ul class="list-inline">
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
										</ul>
									</div>
									<p>The object of the game is to play the ball in such...</p>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="../../views/images/image4.jpg" class="img-responsive img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Brandon Stone</h4>
									<div class="star-rating">
										<ul class="list-inline">
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
										</ul>
									</div>
									<p>The object of the game is to play the ball in such...</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item carousel-item">
					<div class="row">
						<div class="col-sm-3">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="../../views/images/image3.jpg" class="img-responsive img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Aaron Jones1</h4>

									<div class="star-rating">
										<ul class="list-inline">
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
										</ul>
									</div>
									<p>The object of the game is to play the ball in such...</p>
								</div>
							</div>
						</div>
						<!-- <div class="col-sm-3">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="../../views/images/image2.jpg" class="img-responsive img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Jenna Rogers</h4>
									<div class="star-rating">
										<ul class="list-inline">
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
										</ul>
									</div>
									<p>The object of the game is to play the ball in such...</p>
								</div>
							</div>
						</div> -->
						<!-- <div class="col-sm-3">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="../../views/images/image5.jpg" class="img-responsive img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Kelly Clark</h4>
									<div class="star-rating">
										<ul class="list-inline">
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
										</ul>
									</div>
									<p>The object of the game is to play the ball in such...</p>
								</div>
							</div>
						</div> -->
						<!-- <div class="col-sm-3">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="../../views/images/image4.jpg" class="img-responsive img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Brandon Stone</h4>
									<div class="star-rating">
										<ul class="list-inline">
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
										</ul>
									</div>
									<p>The object of the game is to play the ball in such...</p>
								</div>
							</div>
						</div> -->
					</div>
				</div>

			</div>
			<!-- Carousel controls -->
			<a class="carousel-control left carousel-control-prev" href="#myCarousel01" data-slide="prev">
				<img src="../../views/images/LT.png">
			</a>
			<a class="carousel-control right carousel-control-next" href="#myCarousel01" data-slide="next">
				<img src="../../views/images/RT.png">
			</a>
		</div>
	</div>
  </div>
</div>
</div>


 <!-- my events -->
 <div class="des_events">
	<div class="container">
	<h1 class="des_event_heading">Oh My Events</h1><br/>
		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="des_events_bg">
				<img src="../../views/images/event1.png" class="img-responsive center-block">
				<div class="des_events_content_sec">
					<p class="des_date_sec"><span>24</span><br/>Juil, 2019 </p>
					<p class="des_event_sub_title">Tournoi de tennis familial</p>
					<p class="des_event_para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's. </p>
				</div>
			</div>
		</div>

		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="des_events_bg">
				<img src="../../views/images/event2.png" class="img-responsive center-block">
				<div class="des_events_content_sec">
					<p class="des_date_sec"><span>14</span><br/>Août, 2019</p>
					<p class="des_event_sub_title">Jeux d’hiver féminin</p>
					<p class="des_event_para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's. </p>
				</div>
			</div>
		</div>

		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="des_events_bg">
				<img src="../../views/images/event3.png" class="img-responsive center-block">
				<div class="des_events_content_sec">
					<p class="des_date_sec"><span>28</span><br/>Août, 2019</p>
					<p class="des_event_sub_title">Tournoi de tennis familial</p>
					<p class="des_event_para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's. </p>
				</div>
			</div>
		</div>
		<center><a href="#" class="btn btn-primary des_event_btn">Tous les stages</a></center>
 </div>
 </div>
 <!-- my events -->



 <!-- middle sec -->
	<div class="middle_sec des_middle_sec">
		<div class="container">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<img src="../../views/images/slides_3.png" class="img-responsive">
				<div class="middle_sec_contents">
						<img src="../../views/images/tennis-ball.png" class="img-responsive ball_img">
				<h2>Oh My Club House</h2>
				<p >Voici un espace pour devenir un membre actif de notre communauté. Vous allez ainsi pouvoir dépasser vos limites par le biais du challenge (trouver un sparring partner) , du défi (gagner des points pour obtenir des reductions avec nos partenaires) , des quiz ou jeux concours ou en particpant au forum..</p>
				<a href="#" class="btn btn-primary middle_sec_btn"> DECOUVRIR</a>
			</div>

		</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<img src="../../views/images/team.png" class="img-responsive">
				<div class="middle_sec_contents">
						<img src="../../views/images/tennis-ball.png" class="img-responsive ball_img">
				<h2>Oh My Tennis</h2>
				<p >Rejoignez la rubrique dédiée aux passionnés du tennis ! Une immersion inédite dans le monde de la balle jaune pour tous ceux qui souhaitent franchir un premier pas. Vous allez pouvoir apprendre (e-learning) , comprendre (règles , lexique , histoire) , pratiquer (trouver un partenaire, acheter du materiel) et suivre les profesionnels du circuit ATP/WTA.</p>
				<a href="#" class="btn btn-primary middle_sec_btn"> DECOUVRIR</a>
			</div>

			</div>
	</div>
	</div>
 <!-- middle sec -->
 <div class="conseils_banner">
	 <div class="conseils_banner_contents">
		<h1 class="conseils_banner_heading">Oh My Conseils</h1>
		<p class="conseils_banner_para">Vous souhaitez bénéficiez de quelques conseils sur la diététique, la préparation physique, votre première partie (ou match) ou encore des tests matériels , cette rubrique est faite pour vous ! Découvrez les tips et astuces mais aussi quelques idées reçues … </p>

		<a href="#" class="btn btn-primary conseils_banner_btn">EN SAVOIR PLUS </a>
	 </div>
 </div>

 
<!-- <div class="col-md-6 col-md-offset-3">
<div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="3000" id="myCarousel00">
  <div class="carousel-inner">
    <div class="item active">
      <div class="col-md-3 col-sm-6 col-xs-12"><a href="#"><img src="http://placehold.it/500/e499e4/fff&amp;text=1" class="img-responsive"></a></div>
    </div>
    <div class="item">
      <div class="col-md-3 col-sm-6 col-xs-12"><a href="#"><img src="http://placehold.it/500/e477e4/fff&amp;text=2" class="img-responsive"></a></div>
    </div>
    <div class="item">
      <div class="col-md-3 col-sm-6 col-xs-12"><a href="#"><img src="http://placehold.it/500/eeeeee&amp;text=3" class="img-responsive"></a></div>
    </div>
    <div class="item">
      <div class="col-md-3 col-sm-6 col-xs-12"><a href="#"><img src="http://placehold.it/500/f4f4f4&amp;text=4" class="img-responsive"></a></div>
    </div>
    <div class="item">
      <div class="col-md-3 col-sm-6 col-xs-12"><a href="#"><img src="http://placehold.it/500/f566f5/333&amp;text=5" class="img-responsive"></a></div>
    </div>
    <div class="item">
      <div class="col-md-3 col-sm-6 col-xs-12"><a href="#"><img src="http://placehold.it/500/f477f4/fff&amp;text=6" class="img-responsive"></a></div>
    </div>
    <div class="item">
      <div class="col-md-3 col-sm-6 col-xs-12"><a href="#"><img src="http://placehold.it/500/eeeeee&amp;text=7" class="img-responsive"></a></div>
    </div>
    <div class="item">
      <div class="col-md-3 col-sm-6 col-xs-12"><a href="#"><img src="http://placehold.it/500/fcfcfc/333&amp;text=8" class="img-responsive"></a></div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel00" data-slide="prev"><img src="images/LT.png"></a>
  <a class="right carousel-control" href="#myCarousel00" data-slide="next"><img src="images/RT.png"></a>
</div>
</div>
 -->
 
          
        </div>
      </div>
    

<script>
$(document).ready(function(){
     $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-to-top').click(function () {
            $('#back-to-top').tooltip('hide');
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });

        $('#back-to-top').tooltip('show');

});
</script>
<script>
$(document).ready(function(){
    $('.customer-logos').slick({
        slidesToShow: 4,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 1500,
        arrows: false,
        dots: false,
        pauseOnHover: false,
        responsive: [{
            breakpoint: 768,
            settings: {
                slidesToShow: 4
            }
        }, {
            breakpoint: 520,
            settings: {
                slidesToShow: 3
            }
        }]
    });
});
</script>

<!-- <script>
$('#myCarousel00[data-type="multi"] .item').each(function(){
  var next = $(this).next();
  if (!next.length) {
    next = $(this).siblings(':first');
  }
  next.children(':first-child').clone().appendTo($(this));

  for (var i=0;i<2;i++) {
    next=next.next();
    if (!next.length) {
    	next = $(this).siblings(':first');
  	}

    next.children(':first-child').clone().appendTo($(this));
  }
});
</script> -->
</body>
</html>