<style>

  .sidebar-menu li{
    display: block;
  }
  
  </style>
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
     <img src="../../views/images/logo.png" class="logo_dashboard center-block" alt="User Image">
      <ul class="sidebar-menu" data-widget="tree">
        <li ng-click="goToDashboard()" class="active ">
          <a >
            <i class="fa fa-th-large" aria-hidden="true"></i><span>TABLEAUX DE BORD</span>
            
          </a>
         
        </li>
        <li ng-click="goToAccount()" >
          <a >
            <i class="fa fa-user-o"></i>
            <span>MON COMPTE</span>
            <span class="pull-right-container">
            </span>
          </a>
         
        </li>
		
		
       <li class="treeview">
          <a ng-click="goToIndividualcourse()">
           <i class="fa fa-calendar" aria-hidden="true"></i>
            <span>COURS INDIVIDUEL</span>
            <span class="pull-right-container">
            </span>
          </a>
         
        </li>
       
       <li class="treeview">
          <a href="#">
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
            <span>COURS COLLECTIF</span>
            <span class="pull-right-container">
            </span>
          </a>
         
        </li>
       
       <li class="treeview">
          <a href="#">
             <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            <span>COURS COLLECTIF ONDEMAND</span>
            <span class="pull-right-container">
            </span>
          </a>
         
        </li>
       
       <li class="treeview">
          <a href="#">
            <i class="fa fa-building-o" aria-hidden="true"></i>
            <span>COURS COLLECTIF CLUB </span>
            <span class="pull-right-container">
            </span>
          </a>
         
        </li>
       
       <li class="treeview">
          <a href="#">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <span>STAGE</span>
            <span class="pull-right-container">
            </span>
          </a>
         
        </li>
       
       <li class="treeview">
          <a href="#">
            <i class="fa fa-users" aria-hidden="true"></i>
            <span>TEAM BUILDING </span>
            <span class="pull-right-container">
            </span>
          </a>
         
        </li>
       
       <li class="treeview">
          <a href="#">
            <i class="fa fa-cog"></i>
            <span>ANIMATIONS</span>
            <span class="pull-right-container">
            </span>
          </a>
         
        </li>
       
       <li class="treeview">
          <a href="#">
            <i class="fa fa-user-o"></i>
            <span>COMMENTAIRES</span>
            <span class="pull-right-container">
            </span>
          </a>
         
        </li>
       
       
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>